<ion-header>


</ion-header>


<ion-content  style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" has-header="true" padding>

  <div class="center">

    <ion-card >

      <ion-card-content>

        <form [formGroup]="login" (ngSubmit)="onSubmit(login.value)">

          <ion-item>
            <ion-label color="primary" showWhen="android" floating>Ingresa usuario app</ion-label>
            <ion-input type="text"  showWhen="android"  formControlName="cod_usuari" name="cod_usuari" ></ion-input>
            <ion-input type="text"  showWhen="ios" formControlName="cod_usuari" name="cod_usuari" placeholder="Ingresa usuario app"></ion-input>
            <p [hidden]="login.controls.cod_usuari.valid" danger padding-left>Ingresa tu Usuario</p>
          </ion-item>

          <ion-item>
            <ion-label color="primary" showWhen="android" floating>Contraseña</ion-label>
            <ion-input type="{{type}}"  showWhen="android"  formControlName="clv_usuari" name="clv_usuari" ></ion-input>
            <ion-input type="{{type}}" showWhen="ios" formControlName="clv_usuari" name="clv_usuari" placeholder="Contraseña"></ion-input>
            <button ion-button clear color="dark" type="button" item-right (click)="verPass()"> <ion-icon name="eye"> </ion-icon> </button>
            <p [hidden]="login.controls.clv_usuari.valid" danger padding-left>Ingresa tu Contraseña</p>
          </ion-item>

          <div padding>
            <button ion-button color="primary" block [disabled]="!login.controls.cod_usuari.valid || !login.controls.clv_usuari.valid">Iniciar Sesión</button>
          </div>

        </form>

      </ion-card-content>

    </ion-card>

  </div>


</ion-content>
