page-etapacumplidos {

  .franja{
    color: #808084;
    margin: 3px 17px;
    display: block;
    padding: 3px 8px;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

  }

}
