<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lista de destinatarios</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <div style="margin:auto; display:block; width: 90%">
      <ion-chip color="light" style="width: 100%;font-size: 16px;text-align: center;">
        <ion-icon name="clipboard" color="login"></ion-icon>
        <ion-label>Manifiesto: {{manifiesto}}</ion-label>
      </ion-chip>
    </div>
  </ion-navbar>

</ion-header>

<ion-content style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" padding>

 <ion-card style="border-radius: 5px" *ngFor="let item of opcionDestinatario" (tap)="setFactura(item.num_docume)" >

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/images/002-checklist.svg">
    </ion-avatar>
    <h2>{{item.nom_destin}}</h2>
    <p>Ciudad: {{item.abr_ciudad}}</p>
    <p>Dir: {{item.dir_destin}}</p>
    <p>Cita: {{item.fec_citdes2}}</p>
  </ion-item>

  <ion-row>
    <ion-col>
      <button ion-button block icon-left clear small>
        <ion-icon name="clipboard"></ion-icon>
        <div>Ver facturas</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
