<ion-header>
  <ion-navbar color="primary">
    <ion-title>Manifiestos pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" padding>

  <ion-fab top right edge>
   <button ion-fab mini color="login" (tap)="pernotacion()"><ion-icon name="alarm"></ion-icon></button>
 </ion-fab>

 <ion-card *ngFor="let item of opcionDespachos" style="border-radius: 5px" (tap)="setDespacho(item.codigoDespacho, item.manifiesto)">

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/images/010-clipboard.svg">
    </ion-avatar>
    <h2>Manifiesto: {{item.manifiesto}}</h2>
    <p>Empresa: {{item.empresa}}</p>
    <p>Entregar: {{item.entrega}}</p>
  </ion-item>

  <ion-row>
    <ion-col>
      <button ion-button block icon-left clear small>
        <ion-icon name="bus"></ion-icon>
        <div>Reportar segumiento</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
