<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" [rootParams]="data" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Despachos" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Opciones" tabIcon="cog"></ion-tab>
</ion-tabs>
