page-etapatransito {

  .center{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }


.img-responsive{
  width: 100%;
  padding: 10px;
}

.text{
  font-size: 16px;
  text-align: center;
  margin-top: -5px;
}

.col-izq-sup{

  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #b9b9b9;


}

.col-der-sup{

  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #b9b9b9;


}


}
