<ion-header>

  <ion-navbar color="primary">
    <ion-title>Novedad Especial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab top right edge>
   <button ion-fab mini color="login" (tap)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
 </ion-fab>

 <ion-grid>
   <ion-row>
     <ion-col col-6 *ngFor="let photo of photos; let id = index">
         <ion-card class="block">
           <ion-icon name="trash" class="deleteIcon" (tap)="deletePhoto(id)"></ion-icon>
             <img [src]="photo" *ngIf="photo" />
         </ion-card>
     </ion-col>
   </ion-row>

   <form [formGroup]="formnovedad" (ngSubmit)="onSubmit(formnovedad.value)">

     <ion-item>
       <ion-label color="primary" stacked>Lista de Novedades</ion-label>
       <ion-select interface="action-sheet" formControlName="novedad" name="novedad" placeholder="Escoge una Opción" submitText="Aceptar" cancelText="Cancelar">
         <ion-option *ngFor="let item of novedades" value="{{item.cod_noveda}}"><marquee>{{item.nom_noveda}}</marquee></ion-option>
       </ion-select>
       <p [hidden]="formnovedad.controls.novedad.valid" danger padding-left>Selecciona una Novedad</p>
     </ion-item>

     <ion-item>
       <ion-label color="primary" floating>Observaciones</ion-label>
        <ion-textarea formControlName="observacion" name="observacion"></ion-textarea>
        <p [hidden]="formnovedad.controls.observacion.valid" danger padding-left>Escribe una Observación</p>
      </ion-item>

      <div style="margin-top: 16px;">
        <button ion-button color="primary" block [disabled]="!formnovedad.controls.novedad.valid || !formnovedad.controls.observacion.valid">Enviar novedad</button>
      </div>

 </form>

 </ion-grid>

</ion-content>
