<ion-header>

</ion-header>


<ion-content  style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" has-header="true" padding>

  <div class="center">

    <ion-card style="border-radius: 5px">

      <ion-card-content>

        <form [formGroup]="activa" (ngSubmit)="onSubmit(activa.value)">

            <ion-item>
              <ion-label  showWhen="android" floating>Nombre de usuario</ion-label>
              <ion-input type="text"  showWhen="android"  formControlName="cod_usuari" name="cod_usuari" ></ion-input>
              <ion-input type="text"  showWhen="ios"  formControlName="cod_usuari" name="cod_usuari" placeholder="Nombre de usuario"></ion-input>
              <p [hidden]="!activa.controls.cod_usuari.valid" danger padding-left>Ingresa el nombre de usuario</p>
            </ion-item>

            <ion-item>
              <ion-label showWhen="android" floating>No. de documento</ion-label>
              <ion-input type="number" showWhen="android" formControlName="cod_documento" name="cod_documento" ></ion-input>
              <ion-input type="number" showWhen="ios" formControlName="cod_documento" name="cod_documento" placeholder="No. de documento"></ion-input>
              <p [hidden]="!activa.controls.cod_documento.valid" danger padding-left>Ingresa el No. de documento</p>
            </ion-item>

            <div padding>
              <button ion-button color="primary" block [disabled]="!activa.controls.cod_usuari.valid || !activa.controls.cod_documento.valid">Activar Usuario</button>
            </div>

        </form>

        <span color="primary" style="text-align: center;color: #009fe3;margin: auto;display: block;padding: 5px;" (tap)="setTutorial()"><strong>Guía para activar mi usuario</strong></span>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
