<ion-header>

</ion-header>


<ion-content style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" padding>

  <ion-grid class="center">
    <ion-row>
      <ion-col col-12 >
        <h3 class="tittle"><strong>Avansat Movil</strong></h3>
        <p class="text">Version - {{vr}}</p>
        <img src="assets/images/avansat-movil-blanco.png" class="img-responsive" />
        <p class="text"><strong>&copy; 2017 Grupo OET</strong></p>
        <p class="text"><strong>Todos los Derechos Reservados</strong></p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
