page-acercade {

  .center{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .img-responsive{
    max-width: 100%;
    margin:20px auto;
    display:block;
    padding: 10px;
  }

  .tittle{

    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 80px;
  }

  .text{

    text-align: center;
    font-size: 14px;
    color: #fff;
  }

}
