page-etapacargue {

  .center{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }


  .img-responsive{
    width: 100%;
    padding: 10px;
  }

  .text{
    font-size: 16px;
    text-align: center;
    margin-top: -5px;
  }

  .col-centro{
    justify-content: center;
    border-bottom-color: #b9b9b9;
    border-bottom-style: solid;
    border-bottom-width: 1px;

  }

  .col-izq-inf{

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #b9b9b9;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 1px;

  }

  .col-der-inf{

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #b9b9b9;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 1px;

  }
}
