<ion-header>

  <ion-navbar color="primary">
    <ion-title>Etapa de Cargue</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <div style="margin:auto; display:block; width: 90%">
      <ion-chip color="light" style="width: 100%;font-size: 16px;text-align: center;">
        <ion-icon name="clipboard" color="login"></ion-icon>
        <ion-label>Manifiesto: {{manifiesto}}</ion-label>
      </ion-chip>
    </div>
  </ion-navbar>

</ion-header>


<ion-content style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;">

  <ion-grid class="center">
    <ion-row >
      <ion-col col-12 >
        <ion-card style="border-radius: 5px" (tap)="setEnviaNovedad()">
          <ion-card-content>
            <button block style="background-color: white">
              <img src="assets/images/tick.svg" class="img-responsive" style="width: 75%"/>
            </button>
            <button ion-button block icon-left clear small>
              <div style="font-size: 11px;">{{estado}}</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 >
        <ion-card style="border-radius: 5px" (tap)="setNovedadEspecial()">
          <ion-card-content >
            <button style="background-color: white">
              <img src="assets/images/004-symbol.svg" class="img-responsive"/>
            </button >
            <button ion-button block icon-left clear small>
              <div style="font-size: 11px;">Novedad especial</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 >
        <ion-card  style="border-radius: 5px" (tap)="setMiUbicacion()">
          <ion-card-content >
            <button style="background-color: white">
              <img src="assets/images/007-satellite.svg" class="img-responsive"/>
            </button>
            <button ion-button block icon-left clear small>
              <div style="font-size: 11px;">Mi ubicación</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
