<ion-header >

  <ion-navbar color="primary">
    <ion-title>Selecciona una Etapa</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <div style="margin:auto; display:block; width: 90%">
      <ion-chip color="light" style="width: 100%;font-size: 16px;text-align: center;">
        <ion-icon name="clipboard" color="login"></ion-icon>
        <ion-label>Manifiesto: {{manifiesto}}</ion-label>
      </ion-chip>
    </div>
  </ion-navbar>


</ion-header>

<ion-content  style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" >

  <ion-grid class="center">
    <ion-row >
      <ion-col col-6>
        <ion-card style="border-radius: 5px">
          <ion-card-content>
            <button [disabled]="buttoncargue" (tap)="novedadCargue()" style="background-color: white">
              <img src="assets/images/009-transport.svg" class="{{classcargue}}"/>
            </button>
            <button [disabled]="buttoncargue" ion-button block icon-left clear small (tap)="novedadCargue()">
              <ion-icon name="bus"></ion-icon>
              <div>Cargue</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 >
        <ion-card style="border-radius: 5px">
          <ion-card-content>
            <button [disabled]="buttontransito"  (tap)="novedadTransito()" style="background-color: white">
              <img src="assets/images/008-location.svg" class="{{classtransito}}"/>
            </button>
            <button [disabled]="buttontransito" ion-button block icon-left clear small (tap)="novedadTransito()">
              <ion-icon name="bus"></ion-icon>
              <div>Tránsito</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 >
        <ion-card style="border-radius: 5px">
          <ion-card-content>
            <button [disabled]="buttondescargue" (tap)="novedadDescargue()"  style="background-color: white">
              <img src="assets/images/006-transport-1.svg" class="{{classdescargue}}"/>
            </button >
            <button [disabled]="buttondescargue" ion-button block icon-left clear small (tap)="novedadDescargue()">
              <ion-icon name="bus"></ion-icon>
              <div>Descargue</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 >
        <ion-card style="border-radius: 5px">
          <ion-card-content>
            <button [disabled]="buttoncumplido" (tap)="novedadCumplido()"   style="background-color: white">
              <img src="assets/images/005-pen.svg" class="{{classcumplido}}"/>
            </button>
            <button [disabled]="buttoncumplido" ion-button block icon-left clear small (tap)="novedadCumplido()">
              <ion-icon name="bus"></ion-icon>
              <div>Cumplidos</div>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
