page-etapadespacho {

  .center{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }


  .text{
    font-size: 16px;
    text-align: center;
    margin-top: -5px;
  }

  .franja{
    color: #808084;
    margin: 3px 17px;
    display: block;
    padding: 3px 8px;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

  }

  .img-responsive{
    width: 100%;
    padding: 10px;
  }

  .img-responsive-gris{
    width: 100%;
    padding: 10px;
    filter: grayscale(100%);
  }


  .col-izq-sup{

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #b9b9b9;
    border-bottom-color: #b9b9b9;
    border-bottom-style: solid;
    border-bottom-width: 1px;

  }

  .col-der-sup{

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #b9b9b9;
    border-bottom-color: #b9b9b9;
    border-bottom-style: solid;
    border-bottom-width: 1px;

  }

  .col-izq-inf{

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #b9b9b9;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 1px;

  }

  .col-der-inf{

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #b9b9b9;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 1px;

  }

}
