page-seleccionaopcion {

  .tittle{

    text-align: center;
    font-size: 16px;
  }

  .footer{

    text-align: center;
    font-size: 14px;
    color: #fff;
  }

  .img-responsive{
    max-height: 50%;
    max-width: 80%;
    margin:20px auto;
    display:block;
  }

  .img-icons{
    max-height: 50%;
    max-width: 60%;
    margin:10px auto;
    display:block;
  }

  .franja{
    color: #808084;
    margin: 3px 17px;
    display: block;
    padding: 3px 8px;
    min-width: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

  }

  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;

  }


}
