<ion-header>


</ion-header>


<ion-content style="background-image: url(assets/images/fondo.jpg); background-repeat: no-repeat;background-size: contain;" padding>
 <div>
   <img src="assets/images/avansat-movil.png" class="img-responsive" />
 </div>

 <ion-grid>
   <ion-row>
     <ion-col col-12>
       <ion-card color="login" class="center" style="border-radius: 15px;width: 40%" type="button" (tap)="setLogin()">
           <img src="assets/images/011-user.svg" class="img-icons" />
         <ion-card-content>
             <h1 class="tittle">Iniciar Sesión</h1>
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>

</ion-content>

<ion-footer>
 <ion-toolbar color="primary">
   <h1 class="footer">&copy; 2017 Grupo OET. Todos los Derechos Reservados</h1>
 </ion-toolbar>
</ion-footer>
