<ion-header no-border>
    
</ion-header>

<ion-content  style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" has-header="true" padding>
      <div id="profile-bg"></div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="assets/images/011-user.svg">
          <h3 id="profile-name">Usuario: {{usuario}}</h3>
          <span id="profile-description">Vehiculo: {{vehiculo}}</span>
        </div>
      </div>
</ion-content>
