<ion-header>


</ion-header>


<ion-content style="background-image: url(assets/images/fondo-intro.png); background-repeat: no-repeat;background-size: cover;" padding>

  <ion-slides pager="true" parallax="true">

    <ion-slide >

      <img src="assets/images/003-lock.svg" class="slide-image" />
      <h2 class="slide-title"> Activación </h2>
      <p> Realiza el proceso de activación de <strong>AVANSAT MOVIL</strong>, ingresando tu usuario y contraseña otorgado por  la empresa contratante y sigue los pasos indicados por la aplicación.</p>

    </ion-slide>

    <ion-slide >

     <img src="assets/images/002-map.svg" class="slide-image" />
      <h2 class="slide-title">Reportes</h2>
      <p>Una vez inicies sesión en la aplicación <strong>AVANSAT MOVIL</strong> podrás enviar y reportar Novedades especiales del viaje que estas realizando en tiempo real.</p>


    </ion-slide>

    <ion-slide>

      <img src="assets/images/001-cogwheel.svg" class="slide-image" />
      <h2 class="slide-title">Gestión</h2>
      <p>Recuerda que en las etapas de  Cargue y Descargue desde tu aplicación <strong>AVANSAT MOVIL</strong> puedes reportar los tiempos de llegada, inicio y fin en  tiempo real, adicional podrás tomar las fotografías del cumplido como soporte de tu gestión.</p>


    </ion-slide>

    <ion-slide>

      <img src="assets/images/avansat-movil.png"/>
      <button ion-button outline color="primary" (tap)="setActivacion()" styel="border-radius: 5px;">Activar aplicación</button>

    </ion-slide>

  </ion-slides>

</ion-content>
