<ion-header>


</ion-header>


<ion-content style="background-image: url(assets/images/fondo-intro.png); background-repeat: no-repeat;background-size: cover;" padding>

  <ion-slides pager="true" parallax="true">

    <ion-slide >
      <h2 class="slide-title">Notificación móvil</h2>
      <img src="assets/images/correo.png" class="slide-image" />
      <h2 class="slide-title">Primer Paso</h2>
      <p> Verifica que en tu correo electrónico tengas un email con el asunto <strong style="color:#009fe3">"Activación aplicación AVANSAT Móvill"</strong>, donde te fué otorgado el <strong style="color:#009fe3">usuario y la contraseña.</strong></p>

    </ion-slide>

    <ion-slide >

      <img src="assets/images/sd01.png" class="slide-image" />
      <h2 class="slide-title">Segundo Paso</h2>
      <p> Digita el usuario suministrado en el correo electrónico  en el campo <strong style="color:#009fe3">Usuario app</strong> y tu número de identificación en el campo <strong style="color:#009fe3">No. de Documento</strong>, luego selecciona el botón azul <strong style="color:#009fe3">Activar Usuario</strong>.</p>

    </ion-slide>

    <ion-slide >

     <img src="assets/images/sd02.png" class="slide-image" />
      <h2 class="slide-title">Tercer Paso</h2>
      <p>En el campo <strong style="color:#009fe3">Contraseña generada</strong> digitas la clave que fue enviada a tu correo, en el campo <strong style="color:#009fe3">Nueva contraseña</strong> digita una contraseña que sea fácil de recordar y en el campo <strong style="color:#009fe3">Confirmar contraseña</strong> digita la misma contraseña.</p>


    </ion-slide>

    <ion-slide>

      <img src="assets/images/sd04.png" class="slide-image" />
      <h2 class="slide-title">Cuarto Paso</h2>
      <p>Digita en el campo <strong style="color:#009fe3">Usuario app</strong> el dato que se te fue enviado al correo electrónico y en el campo <strong style="color:#009fe3">Contraseña</strong> digita la contraseña que dejaste fácil de recordar, para finalizar selecciona el botón azul <strong style="color:#009fe3">Iniciar sesión</strong>. </p>


    </ion-slide>

    <ion-slide>

      <img src="assets/images/key.svg" class="slide-image" />
      <h2 class="slide-title">Recuerda</h2>
      <p>Una ves finalizado el proceso anterior, puedes iniciar la aplicación para reportar gestión de todos tu viajes.<br><strong style="color:#009fe3">Nota:</strong> tu usuario solo puede ser usado en el dispositivo que lo actives.</p>


    </ion-slide>

    <ion-slide>

      <img src="assets/images/avansat-movil.png"/>
      <button ion-button outline color="primary" (tap)="setActivate()">Activar usuario</button>

    </ion-slide>

  </ion-slides>

</ion-content>
