page-tutorial {

  .swiper-pagination-bullet-active {
      background: #009fe3;
    }

    .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

    .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 70%;
    max-width: 80%;
    width: 100%;
    margin: 18px 0;
  }

   p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    }


}
