page-cambiapass {

  .img-responsive {
    max-height: 70%;
    max-width: 80%;
    width: 50%;
    margin: auto;
    display: block;
  }

  .center{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }


}
