<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid class="center">
    <ion-row >
      <ion-col col-12 >
        <div>
          <img src="assets/images/key-3d.svg" class="img-responsive"/>
        </div>

        <form [formGroup]="clave" (ngSubmit)="onSubmit(clave.value)">

          <ion-item>
            <ion-input type="number"  formControlName="documento" name="documento" placeholder="No. de Documento de Identificación"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="{{typeN}}" formControlName="clv_nuevax" name="clv_nuevax" placeholder="Nueva contraseña"></ion-input>
            <button ion-button clear color="dark" type="button" item-right (click)="verPass2()"> <ion-icon name="eye"> </ion-icon> </button>
          </ion-item>

          <ion-item>
            <ion-input type="{{typeC}}" formControlName="clv_nuevaxx" name="clv_nuevaxx" placeholder="Confirmar la contraseña"></ion-input>
            <button ion-button clear color="dark" type="button" item-right (click)="verPass3()"> <ion-icon name="eye"> </ion-icon> </button>
          </ion-item>

          <div padding>
            <button ion-button color="primary" block [disabled]="!clave.controls.clv_nuevax.valid  || !clave.controls.clv_nuevaxx.valid || !clave.controls.documento.valid ">Cambiar contraseña</button>
          </div>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
