<ion-header>

  <ion-navbar color="primary">
    <ion-title>Pernoctación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img class="img-responsive" src="assets/images/001-clock.svg" (tap)="getFecha()"/>
        </ion-col>
        <ion-col col-6>
          <h5 style="text-align:center">Fecha y Hora de reinicio:</h5>
          <h5 style="text-align:center">{{fechahora}}</h5>
        </ion-col>
      </ion-row>
      <form [formGroup]="pernotar" (ngSubmit)="onSubmit(pernotar.value)">

        <ion-item>
          <ion-label color="primary" floating>Nombre del Parqueadero</ion-label>
          <ion-input type="text" [disabled]="nombrepernotando"  formControlName="parqueadero" name="parqueadero" ></ion-input>
          <p [hidden]="pernotar.controls.parqueadero.valid" danger padding-left>Ingresa el nombre del parqueadero</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Observaciones</ion-label>
           <ion-textarea [disabled]="observacionpernotando"  formControlName="observacion" name="observacion" ></ion-textarea>
           <p [hidden]="pernotar.controls.observacion.valid" danger padding-left>Escribe una Observación</p>
        </ion-item>

      <div padding>
        <button ion-button  color="primary" block [disabled]="!pernotar.controls.parqueadero.valid || !pernotar.controls.observacion.valid">Pernoctar</button>
      </div>

      </form>

      <div padding>
        <button ion-button color="primary" [disabled]="reiniciopernotando" (tap)="reincioRuta()" block>Reiniciar mi ruta</button>
      </div>
  </ion-grid>

</ion-content>
