<ion-header>


</ion-header>


<ion-content  style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" has-header="true" padding>

  <div class="center">

    <ion-card style="border-radius: 5px">

      <ion-card-content>

        <form [formGroup]="clave" (ngSubmit)="onSubmit(clave.value)">

          <ion-item>
            <ion-label color="primary" showWhen="android" floating>Contraseña generada</ion-label>
            <ion-input type="text"  showWhen="android"  formControlName="clv_anteri" name="clv_anteri" ></ion-input>
            <ion-input type="text"  showWhen="ios" formControlName="clv_anteri" name="clv_anteri" placeholder="Contraseña generada"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" showWhen="android" floating>Nueva contraseña</ion-label>
            <ion-input type="{{typeN}}"  showWhen="android"  formControlName="clv_nuevax" name="clv_nuevax" ></ion-input>
            <ion-input type="{{typeN}}"  showWhen="ios" formControlName="clv_nuevax" name="clv_nuevax" placeholder="Nueva contraseña"></ion-input>
            <button ion-button clear color="dark" type="button" item-right (click)="verPassNueva()"> <ion-icon name="eye"> </ion-icon> </button>
          </ion-item>

          <ion-item>
            <ion-label color="primary" showWhen="android" floating>Confirmar contraseña</ion-label>
            <ion-input type="{{typeC}}"  showWhen="android"  formControlName="clv_nuevaxx" name="clv_nuevaxx" ></ion-input>
            <ion-input type="{{typeC}}"  showWhen="ios" formControlName="clv_nuevaxx" name="clv_nuevaxx" placeholder="Confirmar contraseña"></ion-input>
            <button ion-button clear color="dark" type="button" item-right (click)="verPassConfi()"> <ion-icon name="eye"> </ion-icon> </button>
          </ion-item>

          <div padding>
            <button ion-button  color="primary" block [disabled]="!clave.controls.clv_anteri.valid || !clave.controls.clv_nuevax.valid  || !clave.controls.clv_nuevaxx.valid ">Cambiar contraseña</button>
          </div>

        </form>

      </ion-card-content>

    </ion-card>

  </div>


</ion-content>
