page-enviafacturas {

  .img-responsive{

    width: 40%;
    padding: 10px;
    display: block;
    margin: auto;

  }

  .block {
    position: relative;

    .deleteIcon {

      position: absolute !important;
      color: #ffffff !important;
      top: -3px;
      padding: 5px;
      background: red;

    }

    .deleteIcon:before {

      font-size: 30px !important;

    }

  }

  .foto{

    width: 100%;
    max-height: 200px;

  }

}
