<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cumple Factura</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <div style="margin:auto; display:block; width: 90%">
      <ion-chip color="light" style="width: 100%;font-size: 16px;text-align: center;">
        <ion-icon name="clipboard" color="login"></ion-icon>
        <ion-label>Manifiesto: {{manifiesto}}</ion-label>
      </ion-chip>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab top right edge>
   <button ion-fab mini color="login" (tap)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
 </ion-fab>

 <ion-grid>
   <ion-row >
     <ion-col col-6 *ngFor="let photo of photos; let id = index">
         <ion-card class="block">
           <ion-icon name="trash" class="deleteIcon" (tap)="deletePhoto(id)"></ion-icon>
             <img [src]="photo" *ngIf="photo" class="foto"/>
         </ion-card>
     </ion-col>
   </ion-row>

   <form [formGroup]="formfactura" (ngSubmit)="onSubmit(formfactura.value)">

     <ion-item>
       <ion-label color="primary" floating>Observaciones</ion-label>
        <ion-textarea formControlName="observacion" name="observacion"></ion-textarea>
        <p [hidden]="formfactura.controls.observacion.valid" danger padding-left>Escribe una Observación</p>
      </ion-item>

      <div style="margin-top: 16px;">
        <button ion-button block color="primary" [disabled]="!formfactura.controls.observacion.valid">Registrar cumplido</button>
      </div>

 </form>

 </ion-grid>



</ion-content>
