<ion-header>

  <ion-navbar color="primary">
    <ion-title>Facturas Pendientes</ion-title>
  </ion-navbar>

  <ion-navbar color="primary">
    <div style="margin:auto; display:block; width: 90%">
      <ion-chip color="light" style="width: 100%;font-size: 16px;text-align: center;">
        <ion-icon name="clipboard" color="login"></ion-icon>
        <ion-label>Manifiesto: {{manifiesto}}</ion-label>
      </ion-chip>
    </div>
  </ion-navbar>

</ion-header>

<ion-content style="background-image: url(assets/images/fondoprin.png); background-repeat: no-repeat;background-size: cover;" padding>

 <ion-card *ngFor="let item of opcionFactura" style="border-radius: 5px" (tap)="setCumplido(item)" >

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/images/001-signature.svg">
    </ion-avatar>
    <h2>No de factura:</h2>
    <p>{{item}}</p>
  </ion-item>

  <ion-row>
    <ion-col>
      <button ion-button block icon-left clear small>
        <ion-icon name="clipboard"></ion-icon>
        <div>Cumplir factura</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>

</ion-content>
