<ion-header>

  <ion-navbar color="primary">
    <ion-title>Opciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <ion-list>

      <ion-list-header>Opciones de usuario</ion-list-header>

      <ion-item (tap)="verCambioPass()">
        <ion-avatar item-start>
          <img src="assets/images/001-lock.svg">
        </ion-avatar>
        <h2>Cambiar contraseña</h2>
        <p>Actualizala constantemente</p>
      </ion-item>

      <ion-item (tap)="salir()">
        <ion-avatar item-start>
          <img src="assets/images/001-door.svg">
        </ion-avatar>
        <h2>Cerrar sesión</h2>
        <p>Cierra la sesión del usuario</p>
      </ion-item>

   </ion-list>
   <ion-list>

     <ion-list-header>Opciones avanzadas</ion-list-header>

      <ion-item (tap)="eliminaData()">
        <ion-avatar item-start>
          <img src="assets/images/002-technology.svg">
        </ion-avatar>
        <h2>Restablecer aplicación</h2>
        <p>Puedes borrar todos tus datos</p>
      </ion-item>

      <ion-item (tap)="verInfo()">
        <ion-avatar item-start>
          <img src="assets/images/002-information.svg">
        </ion-avatar>
        <h2>Acerca De</h2>
        <p>Información de la app</p>
      </ion-item>

    </ion-list>


</ion-content>
